<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">
  <!-- Section: Social media -->
  <section
    class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
  >
    <!-- Left -->
    <div class="me-5 d-none d-lg-block">
      <span>Get connected with us on social networks:</span>
    </div>
    <!-- Left -->

    <!-- Right -->
    <div>
      <a href="https://www.facebook.com/login/" class="me-4 text-reset">
          <i class="fa fa-facebook-square" aria-hidden="true"></i>
      </a>
      <a href="https://twitter.com/i/flow/login" class="me-4 text-reset">
          <i class="fa fa-twitter-square" aria-hidden="true"></i>
      </a>
      <a href="https://www.google.com/" class="me-4 text-reset">
          <i class="fa fa-google-plus-square" aria-hidden="true"></i>
      </a>
      <a href="https://www.instagram.com/accounts/login/" class="me-4 text-reset">
          <i class="fa fa-instagram" aria-hidden="true"></i>
      </a>
      <a href="https://www.pinterest.com/login/" class="me-4 text-reset">
          <i class="fa fa-pinterest-square" aria-hidden="true"></i>
      </a>
      <a href="https://www.linkedin.com/" class="me-4 text-reset">
          <i class="fa fa-linkedin-square" aria-hidden="true"></i>
      </a>
    </div>
    <!-- Right -->
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i>About Us
          </h6>
          <p>
              DRD University is one of the institutions of DRD Educational Trust and was established on 15 August 2010.
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
           B.E/B.Tech Courses
          </h6>
          <p>
            <a href="#!" class="text-reset">EEE</a>
          </p>
          <p>
            <a href="#!" class="text-reset">ECE</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Cse</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Civil</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Other Courses
          </h6>
          <p>
            <a href="#!" class="text-reset">M.E/M.Tech</a>
          </p>
          <p>
            <a href="#!" class="text-reset">MBA</a>
          </p>
          <p>
            <a href="#!" class="text-reset">MSC</a>
          </p>
          <p>
            <a href="#!" class="text-reset">M.S</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Contact
          </h6>
          <p><i class="fa fa-address-book-o" aria-hidden="true"></i> Kaalavasal,Madurai-10</p>
          <p>
              <i class="fa fa-envelope" aria-hidden="true"></i>
            drduniversity@gmail.com
          </p>
          <p><i class="fa fa-phone-square" aria-hidden="true"></i> + 0452 234 567 88</p>
          <p><i class="fa fa-mobile" aria-hidden="true"></i> + 91 9876543627</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2022 Copyright:
    <a class="text-reset fw-bold" href="#">drduniversity.com</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
